{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Garage Vincent Parrot</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo soluta obcaecati ex, voluptas quam qui. Temporibus inventore ab, earum reiciendis sed quibusdam ullam consectetur quae natus architecto voluptas, excepturi mollitia!</p>
	</div>
{% endblock %}