:root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 16px / 24px "Roboto", sans-serif;
    color: var(--black);
    background: var(--platinum);
    margin: 50px 0;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.temoignageForm {
    max-width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 1em;
}

.testimonials {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.testimony {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.testimony:not(:last-child) {
    margin-right: 10px;
}

.testimony:hover {
    color: var(--white);
    background: var(--red);
}

.testimony .testimony-title {
    font-size: 20px;
}

.testimony.testimony-content {
    margin: 20px 0;
    max-width: 85%;
}

.testimony .testimony-link-wrapper {
    margin-top: auto;
}

.testimony .testimony-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.testimony:hover .testimony-link {
    background: var(--darkred);
}

.testimonials::-webkit-scrollbar {
    height: 12px;
}

.testimonials::-webkit-scrollbar-thumb,
.testimonials::-webkit-scrollbar-track {
    border-radius: 92px;
}

.testimonials::-webkit-scrollbar-thumb {
    background: var(--black);
}

.testimonials::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .testimony {
        flex-basis: calc(50% - 10px);
    }

    .testimony:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .testimony {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .testimony:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .testimony {
        flex-basis: calc(25% - 30px);
    }

    .testimony:not(:last-child) {
        margin-right: 40px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.filter {
    display: block;
    position: sticky;
    top: 20px;
}

.is-loading::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: .5;
    z-index: 4;
}

.is-loading .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
}